Siema\! Ten bot może zapamiętać Twoje rowery i pokazać je wszystkim!
_/bikecheck_ pokazuje rower, jeśli po prostu napiszesz \- pokazuje Twoje rowery, jeśli napiszesz komende w odpowiedz czyjąś wiadomość, pokaże rowery nadawcy tej wiadomości
_/checkbike_ dodaje nowe zdjęcie roweru\. Najpierw opublikuj zdjęcie swojego roweru na czacie \(wyślij jako obraz, a nie plik\), następnie odpowiadasz na wiadomość ze zdjęciem za pomocą tej komendy
_/setstrava_ ustawia link do serwisu Strava, który będzie wyświetlany podczas bikecheck\. Podobnie jak w przypadku nowego roweru: w osobnej wiadomości zamieszczasz link do Stravy, odpowiadasz komendą
Możesz usunąć rowery lub przywrócić usunięte, odbywa się to za pomocą _/bikecheck_ na prywatnym czacie z botem
Usunięte rowery można wyświetlić przez _/deleted_ na prywatnym czacie z botem
Możesz wystawić na sprzedaż swoje rowery, kliknij odpowiedni przycisk pod rowerem na prywatnym czacie z botem
Możesz wyświetlić rowery na sprzedaż _/onSale_
Najpopularniejsze rowery można wyświetlić przez komendę _/top_
