*{{position}} место,* 👍 _{{likes}}_ [właściciel](tg://user?id={{user.id}})
{{#user.stravaLink}}
[Strava]({{{user.stravaLink}}})
{{/user.stravaLink}}
{{^user.stravaLink}}
_Stravy nie ma_
{{/user.stravaLink}}
{{#onSale}}
*Apropo, rower jest na sprzedaż\!*
{{/onSale}}
