{{#rank}}
Mejsce _{{rank}}_ w rankingu
{{/rank}}
{{#totalBikechecks}}
_Bikecheck {{bikecheckOrder}} z {{totalBikechecks}}_
{{/totalBikechecks}}
Like: _{{likes}}_
Dislike: _{{dislikes}}_
{{#stravaLink}}
[Strava]({{{stravaLink}}})
{{/stravaLink}}
{{^stravaLink}}
_Stravy nie ma_
{{/stravaLink}}
{{#onSale}}
*Apropo, rower jest na sprzedaż\!*
{{/onSale}}
