{{#rank}}
Mejsce _{{rank}}_ w rankingu ogólnym
{{/rank}}
{{#totalBikechecks}}
_BikeCheck {{bikecheckOrder}} z {{totalBikechecks}}_
{{/totalBikechecks}}
Podoba się: _{{likes}}_
Nie podoba się: _{{dislikes}}_
{{#stravaLink}}
[Strava]({{{stravaLink}}})
{{/stravaLink}}
{{^stravaLink}}
_Nie pokazywałeś Stravy_
{{/stravaLink}}
{{#onSale}}
*Apropo, ten rower jest na sprzedaż\!*
{{/onSale}}
